<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Search Restaurants
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
		<div class="row search-form">
			<div class="col-md-4 text-left">
				<select id="city-search-box" class="form-control" style="width: 20rem">
					<option></option>
					<option value="bangalore">Bangalore</option>
					<option value="kottayam">Kottayam</option>
				</select>
			</div>
			<div class="col-md-4 text-left">
				<select id="locality-search-box" class="form-control" style="width: 20rem">
					<option></option>
					<option value="indiranagar">IndiraNagar</option>
					<option value="domlur">Domlur</option>
				</select>
			</div>
			<div class="col-md-4">
				<button id="btn-search" class="btn btn-success">Search</button>
			</div>
		</div>
		<div class="row" id="search-results" style="min-height:44rem"></div>
	</div>
</div>
<!-- /.row -->