<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" id="btn-show-signup">Signup</button>
        <button type="button" class="btn btn-default" id="btn-show-login">Login</button>
        <div id="signup-form">
        	This is signup form
        </div>
        <div id="login-form">
			This is login form        	
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
	

 </div>